.button {
	display: inline-block;
	border: 1px solid rgb(52, 151, 151);
	background-color: rgb(224, 245, 245);
	box-shadow: 0 0 5px rgba(52, 151, 151, 0.5);
	color: rgb(52, 151, 151);
	border-radius: 5px;
	max-width: 100px;
	height: 20px;
	line-height: 20px;
	outline: none;
	text-align: center;
	padding: 0 8px;
	button {
		border: transparent;
		background-color: rgb(224, 245, 245);
		color: rgb(8, 32, 32);
		font-size: 14px;
		outline: none;
	}
	&:hover {
		color: rgb(73, 73, 73);
	}
}
