.friends {
	padding: 20px;
}
.friends__title {
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 30px;
}

.friends__block {
}

.friends__item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
