.header {
	grid-area: h;
	border-bottom: 1px solid rgb(52, 151, 151);
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header img {
	width: 100px;

	display: block;
}
/* .login {
} */
