@use './../../base';

.dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;

	&__items {
		padding: 10px;
		border-right: base.$border-line-color;
	}
	&__messages {
		padding: 15px;
	}
	&__title {
		margin: 20px 0px -5px 470px;
	}
	&__textarea {
		margin: 0px 0px 0px 460px;
	}
	&__button {
		margin: 20px 0px 0px 700px;
	}
}
